body.signin-body {
    background-color: blanchedalmond;
}

.container.signin-container {
    margin: 8%;
}

.card.signin-card {
    padding: 40px 0px 20px;
    background-color: cornflowerblue;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

img.signin-img {


    align-self: center;
}
